[report]

exclude_also =

    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod
