# Byte-compiled
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/

# IDE / editor files
.idea/
.vscode/

# Ruff
.ruff_cache/

# uv
uv.lock
