[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           x,
           ex,
           Run,
           _


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        no-else-return,
        import-error,
        cyclic-import,
        protected-access,
        use-implicit-booleaness-not-comparison,
